.nav-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: rgba(255, 255, 255, 0.65);
  border-bottom: 5px solid #3ab8ff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 30px 30px;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0%;
  z-index: 1;
}
.nav-container__button {
  box-sizing: border-box;
  width: 58px;
  height: 58px;
  background: #ffffff;
  border: 3px solid #2397f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.nav-button__icon {
  width: 37px;
  height: 37px;
}

.nav-container__settings-button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  border: none;
  color: #00c0fe;
  margin: 0 1rem;
}

.nav-dropdown__select {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50vw;
  height: 6vh;
  border: none;
  background-color: white;
  color: #00c0fe;
  font-size: 1rem;
}

.carousel__image {
  width: 57px;
  height: 57px;
}

.carousel__button--image {
  box-sizing: border-box;
  width: 105px;
  height: 70px;
  background: #ffffff;
  border: 3px solid #ff6916;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.carousel__button {
  border: none;
}
.carousel__button--images {
  border: none;
  color: white;
}
